<nav class="navbar navbar-expand-sm navbar-light bg-laranja">
	<a class="navbar-brand mr-auto" routerLink="curso/disciplinas">
		<img src='assets/icone-2.svg' width="30" height="30" class="d-inline-block align-top" alt="QuaseLá">
		<span class="logo-text">QuaseLá</span>
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavDropdown">
		<ul class="nav navbar-nav ml-auto" *ngIf="usuario != undefined">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					{{cursoSelecionado?.nomeCurso}}
				</a>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" href="javascript:;" (click)="trocar(curso.id)" *ngFor="let curso of cursos">{{curso.nomeCurso}}</a>
					<ng-container *ngIf="usuario.permissao < 3">
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" routerLink="curso/editar">Editar</a>
					</ng-container>
				</div>
			</li>
			<li class="nav-item ml-md-4 ml-sm-0">
				<span class="navbar-text">
					{{usuario.username}}
				</span>
			</li>
			<li class="nav-item ml-md-4">
				<span class="nav-link clickable" (click)="clickLogout()">
					<img src='assets/logout.svg' width="24" height="24" class="d-inline-block align-top" alt="Logout">
					<span>Sair</span>
				</span>
			</li>
		</ul>
	</div>
</nav>
