<nav class="navbar navbar-expand-md navbar-light bg-laranja">
	<a class="navbar-brand mr-auto" routerLink="curso/disciplinas">
		<img src='assets/logo.svg' width="30" height="30" class="d-inline-block align-top" alt="QuaseLá">
		<span class="logo-text">QuaseLá</span>
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavDropdown">
		<ul class="nav navbar-nav ml-auto" *ngIf="usuario != undefined">
			<li class="nav-item ml-sm-0">
				<ng-container *ngIf="usuario.permissao < 3">
					<a class="nav-link clickable" routerLink="curso/editar">
						<img src='assets/edit.svg' width="24" height="24" class="d-inline-block align-top" alt="Editar">
					</a>
				</ng-container>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					{{cursoSelecionado?.nomeCurso}}
				</a>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" href="javascript:;" (click)="trocar(curso.id)" *ngFor="let curso of cursos">{{curso.nomeCurso}}</a>
				</div>
			</li>
			<li class="nav-item ml-md-4 ml-sm-0">
				<span class="navbar-text clickable" routerLink="perfil/editar">
					{{usuario.nomeAluno}}
				</span>
			</li>
			<li class="nav-item ml-md-4">
				<span class="nav-link clickable" (click)="clickLogout()">
					<img src='assets/logout.svg' width="24" height="24" class="d-inline-block align-top" alt="Logout">
					<span>Sair</span>
				</span>
			</li>
		</ul>
	</div>
</nav>
