<h2>Dados do Curso</h2>
<form (submit)="salvarCurso()">
	Nome do curso:
	<input type="text" name="nomeCurso" [(ngModel)]="objeto.nomeCurso"><br>
	Nome dos períodos:
	<input type="text" name="nomePeriodos" [(ngModel)]="objeto.nomePeriodos"><br>
	Total de períodos:
	<input type="number" name="qtPeriodos" min="1" [(ngModel)]="objeto.qtPeriodos"><br>
	Carga horária mínima:
	<input type="number" name="cargaMinima" min="1" [(ngModel)]="objeto.cargaMinima"><br>

	Tornar público:
	<label class="switch">
		<input name="publico" type="checkbox" [(ngModel)]="objeto.publico" />
		<span class="slider round" [class.desabilitado]="objeto.disciplinas.length==0"></span>
	</label>

	<div *ngIf="objeto.disciplinas.length == 0">
		Você precisa cadastrar uma disciplina para publicar o curso <br>
		<a routerLink='/disciplinas/cadastrar'>Cadastre uma agora</a>
	</div>
	<button type="button">Cancelar edição</button>
	<button type="submit">Salvar</button>
</form>
