<h2>Grade do curso {{provider.curso.nomeCurso}}</h2>

<ng-container *ngIf="usuario.permissao < 3">
	<button class="btn btn-primary mb-2" type="button" name="button" routerLink="/disciplinas/cadastrar">Cadastrar nova disciplina</button>
</ng-container>

<ng-container *ngIf="usuario.permissao == 3">
	<div class="barra-legenda text-right" [style.margin-left]="(calcularBarra(provider.curso.id) > 10 ? calcularBarra(provider.curso.id) - 10 : 0) + '%'">
		{{calcularBarra(provider.curso.id)}}% do curso concluído
	</div>
	<div class="progress">
		<div class="progress-bar bg-laranja" role="progressbar" [style.width]="calcularBarra(provider.curso.id) + '%'" [attr.aria-valuenow]="calcularBarra(provider.curso.id)" aria-valuemin="0" aria-valuemax="100"></div>
	</div>
</ng-container>
<div class="flex-container">
	<div class="flex-coluna" *ngFor="let numero of periodos">
		<div class="flex-item">
			<h3 class="text-center w-100">
				 {{numero}}
			</h3>
		</div>
		<ng-container *ngFor="let disciplina of disciplinas">
			<div class="flex-item" *ngIf="disciplina.periodo == numero">
				<div class="card cor-{{disciplina.cor}} {{inMarcadas(disciplina) ? 'bg-laranja' : ''}}" >
					<div class="card-body">
						<p class="card-text">
							{{disciplina.nome}}
						</p>
						<div class="row">
							<div class="elementos-abaixo col-8">
								<span *ngFor="let req of disciplina.requisitos" class="preco cor-15 {{req.tipoRequisito == 1 ? 'bolinha' : ''}} ml-1"></span>
								<!--
								<span class="preco cor-2"></span>
								<span class="preco bolinha cor-1 bg-laranja"></span>
								<span class="preco cor-2"></span>
								<span class="preco bolinha cor-1 bg-laranja"></span>
								<span class="preco cor-2"></span>
								-->
							</div>
							<div class="elementos-abaixo col-4">
								<!-- checkbox para o aluno -->
								<ng-container *ngIf="usuario.permissao == 3">
									<span class="container">
										<input type="checkbox" [checked]="inMarcadas(disciplina)" (change)="0">
										<span class="checkmark" (click)="marcarDesmarcar(disciplina)"></span>
									</span>
								</ng-container>

								<!-- opcoes de edição do admin/coord -->
								<ng-container *ngIf="usuario.permissao < 3">
									<a routerLink="/disciplinas/editar/{{disciplina.id}}">
										<svg class="iconezinho" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
									</a>
									<a href="javascript:;" (click)="excluir(disciplina)">
										<svg class="iconezinho" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
									</a>
								</ng-container>
							</div>
						</div>
					</div>
				</div>
			</div>
		</ng-container>
		<!--
		<div class="flex-item">
			<div class="card cor-1">
				<div class="card-body">
					<p class="card-text">
						Matéria do primeiro semestre 1
					</p>
					<div class="row">
						<div class="elementos-abaixo col-8">
							<span class="preco bolinha cor-1 bg-laranja"></span>
							<span class="preco cor-2"></span>
							<span class="preco bolinha cor-1 bg-laranja"></span>
							<span class="preco cor-2"></span>
							<span class="preco bolinha cor-1 bg-laranja"></span>
							<span class="preco cor-2"></span>
						</div>
						<div class="elementos-abaixo col-4">
							<label class="container">
								<input type="checkbox">
								<span class="checkmark"></span>
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="flex-item">
			<div class="card cor-2">
				<div class="card-body">
					<p class="card-text">
						Matéria do primeiro semestre 2
					</p>
					<div class="row">
						<div class="elementos-abaixo col-8">
							<span class="preco bolinha cor-1 bg-laranja"></span>
							<span class="preco cor-2"></span>
							<span class="preco bolinha cor-1 bg-laranja"></span>
							<span class="preco cor-2"></span>
						</div>
						<div class="elementos-abaixo col-4">
							<label class="container">
								<input type="checkbox">
								<span class="checkmark"></span>
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="flex-item">
			<div class="card cor-3">
				<div class="card-body">
					<p class="card-text">
						Matéria do primeiro semestre 3
					</p>
					<div class="row">
						<div class="elementos-abaixo col-8">
							<span class="preco bolinha cor-1 bg-laranja"></span>
						</div>
						<div class="elementos-abaixo col-4">
							<label class="container">
								<input type="checkbox">
								<span class="checkmark"></span>
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		-->
	</div>
</div>

<ng-container *ngIf="usuario.permissao < 3">
	<button class="btn btn-primary mt-2" type="button" name="button" routerLink="/disciplinas/cadastrar">Cadastrar nova disciplina</button>
</ng-container>
