<h1>
	<span class="align-middle">
		Curso {{provider.curso.nomeCurso}}
	</span>
	<ng-container *ngIf="usuario.permissao < 3">
		<i class="nav-link clickable d-inline-block align-middle" routerLink="/curso/editar">
			<img src='assets/edit.svg' width="48" height="48" class="d-inline-block align-middle" alt="Editar">
		</i>
	</ng-container>
</h1>


<ng-container *ngIf="usuario.permissao < 3">
	<button class="btn btn-primary mb-2" type="button" name="button" routerLink="/disciplinas/cadastrar">Cadastrar nova disciplina</button>
</ng-container>

<ng-container *ngIf="usuario.permissao == 3">
	<h2>Meu progresso</h2>
	<div class="barra-legenda text-right" [style.margin-left]="(calcularBarra(provider.curso.id) > 10 ? calcularBarra(provider.curso.id) - 10 : 0) + '%'">
		{{calcularBarra(provider.curso.id)}}% do curso concluído
	</div>
	<div class="progress mb-2">
		<div class="progress-bar cor-selecionado" role="progressbar" [style.width]="calcularBarra(provider.curso.id) + '%'" [attr.aria-valuenow]="calcularBarra(provider.curso.id)" aria-valuemin="0" aria-valuemax="100"></div>
	</div>
	<div class="alert alert-success mt-2" *ngIf="calcularBarra(provider.curso.id) == 100">
		Parabéns! Você concluiu o curso!
	</div>
</ng-container>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Entenda a grade</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<img src="assets/img/ajuda.png" class="img-fluid" alt="Responsive image">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
			</div>
		</div>
	</div>
</div>

<h2>
	<span class="align-middle">
		Grade curricular
	</span>
	<!-- Button trigger modal -->
	<i data-toggle="modal" data-target="#modal" class="clickable align-middle">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path d="M11 18h2v-2h-2v2zm1-16C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm0-14c-2.21 0-4 1.79-4 4h2c0-1.1.9-2 2-2s2 .9 2 2c0 2-3 1.75-3 5h2c0-2.25 3-2.5 3-5 0-2.21-1.79-4-4-4z"/></svg>
	</i>
</h2>
<div class="flex-container">
	<div class="flex-coluna" *ngFor="let numero of periodos">
		<div class="flex-item">
			<h3 class="text-center w-100">
				 {{numero}}
			</h3>
		</div>
		<ng-container *ngFor="let disciplina of disciplinas">
			<div class="flex-item" *ngIf="disciplina.periodo == numero">
				<div class="card cor-{{disciplina.cor}} {{inMarcadas(disciplina) ? 'cor-selecionado' : ''}}" >
					<div class="card-body">
						<p class="card-text">
							{{disciplina.nome}}
						</p>
						<div class="row">
							<!--{{disciplina.requisitos | json}}-->
							<div class="elementos-abaixo col-8">
								<ng-container *ngFor="let req of disciplina.requisitos">
									<!--{{disciplinaFromId(req.idRequisito) | json}}-->
									<span  class="preco {{inMarcadas(disciplinaFromId(req.idRequisito)) ? 'cor-selecionado' : ''}} cor-{{disciplinaFromId(req.idRequisito).cor}} {{req.tipoRequisito == 1 ? 'bolinha' : ''}} ml-1" [attr.tooltip]="provider.curso.nomePeriodos + ' ' + disciplinaFromId(req.idRequisito).periodo + ': ' + disciplinaFromId(req.idRequisito).nome"></span>
								</ng-container>
								<!--
								<span class="preco cor-2"></span>
								<span class="preco bolinha cor-1 bg-laranja"></span>
								<span class="preco cor-2"></span>
								<span class="preco bolinha cor-1 bg-laranja"></span>
								<span class="preco cor-2"></span>
								-->
							</div>
							<div class="elementos-abaixo col-4">
								<!-- checkbox para o aluno -->
								<ng-container *ngIf="usuario.permissao == 3">
									<span class="container">
										<input type="checkbox" [checked]="inMarcadas(disciplina)" (change)="0">
										<span class="checkmark" (click)="marcarDesmarcar(disciplina)"></span>
									</span>
								</ng-container>

								<!-- opcoes de edição do admin/coord -->
								<ng-container *ngIf="usuario.permissao < 3">
									<a routerLink="/disciplinas/editar/{{disciplina.id}}">
										<svg class="iconezinho" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
									</a>
									<a href="javascript:;" (click)="excluir(disciplina)">
										<svg class="iconezinho" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
									</a>
								</ng-container>
							</div>
						</div>
					</div>
				</div>
			</div>
		</ng-container>
		<!--
		<div class="flex-item">
			<div class="card cor-1">
				<div class="card-body">
					<p class="card-text">
						Matéria do primeiro semestre 1
					</p>
					<div class="row">
						<div class="elementos-abaixo col-8">
							<span class="preco bolinha cor-1 bg-laranja"></span>
							<span class="preco cor-2"></span>
							<span class="preco bolinha cor-1 bg-laranja"></span>
							<span class="preco cor-2"></span>
							<span class="preco bolinha cor-1 bg-laranja"></span>
							<span class="preco cor-2"></span>
						</div>
						<div class="elementos-abaixo col-4">
							<label class="container">
								<input type="checkbox">
								<span class="checkmark"></span>
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="flex-item">
			<div class="card cor-2">
				<div class="card-body">
					<p class="card-text">
						Matéria do primeiro semestre 2
					</p>
					<div class="row">
						<div class="elementos-abaixo col-8">
							<span class="preco bolinha cor-1 bg-laranja"></span>
							<span class="preco cor-2"></span>
							<span class="preco bolinha cor-1 bg-laranja"></span>
							<span class="preco cor-2"></span>
						</div>
						<div class="elementos-abaixo col-4">
							<label class="container">
								<input type="checkbox">
								<span class="checkmark"></span>
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="flex-item">
			<div class="card cor-3">
				<div class="card-body">
					<p class="card-text">
						Matéria do primeiro semestre 3
					</p>
					<div class="row">
						<div class="elementos-abaixo col-8">
							<span class="preco bolinha cor-1 bg-laranja"></span>
						</div>
						<div class="elementos-abaixo col-4">
							<label class="container">
								<input type="checkbox">
								<span class="checkmark"></span>
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		-->
	</div>
</div>

<ng-container *ngIf="usuario.permissao < 3">
	<button class="btn btn-primary mt-2" type="button" name="button" routerLink="/disciplinas/cadastrar">Cadastrar nova disciplina</button>
</ng-container>
