<form class="mt-2">
	<div class="form-group">
		<label for="email">
			Email
		</label>
		<div class="form-group">
			<input class="form-control" type="email" name="email" placeholder="Digite o email" [(ngModel)]="user.email">
		</div>

		<label for="senha">
			Senha
		</label>
		<div class="form-group">
			<input class="form-control" type="password" name="senha" placeholder="Digite a senha" [(ngModel)]="user.senha">
		</div>

		<button class="btn btn-primary" type="button" name="button" (click)="submit()">Acessar o Sistema</button>
	</div>
</form>
