.bg-laranja {
	background-color: #F7A541;
}

.logo-text {
	font-family: 'Finger Paint', cursive;
}

.color-inherit {
	color: inherit;
}

.bg-verdinho {
	background-color: #A1DBB2;
}

.page-footer {
	position: absolute;
	bottom:0;
	width:100%;
}
