
<ng-container *ngIf="usuario != undefined">
	<app-navbar [usuario]="usuario" [cursos]="provider.cursosDisponiveis" [cursoSelecionado]="provider.curso" (logout)="unsetUsuario($event)" (trocarCurso)="trocarCursoAtual($event)"></app-navbar>
	<!--Usuário!!! {{usuario | json}}-->
	<div class="container-fluid">
		<ng-container *ngIf="provider.curso != undefined">
			<router-outlet></router-outlet>
		</ng-container>

		<footer class="footer bg-verdinho sticky-bottom">
			<div class="container">
				<!-- Copyright -->
				<div class="footer-copyright text-center py-3">© 2018 Copyleft:
					Time de Desenvolvimento. Distribuído em licença GPL.
				</div>
				<!-- Copyright -->
			</div>
		</footer>
	</div>
</ng-container>

<ng-container *ngIf="usuario == undefined">
	<div class="container-fluid h-100">
		<app-login (usuarioLogado)="setUsuario($event)"></app-login>
	</div>
</ng-container>
