.bg-laranja {
	background-color: #F7A541;
}

.logo-text {
	font-family: 'Finger Paint', cursive;
}

.color-inherit {
	color: inherit;
}

.bg-verdinho {
	background-color: #A1DBB2;
}

.footer {
	/*position: absolute;*/
    left: 0;
    bottom: 0;
    width: 100%;
}
