/* You can add global styles to this file, and also import other style files */
.bg-laranja {
	background-color: #ee8339!important;
	color: #000000DD!important;
}

.logo-text {
	font-family: 'Finger Paint', cursive;
}


.cor-0, .cor-0-botao > .button span {
	background: #FFC312;
	transition: 0.5s;
}
.cor-1, .cor-1-botao > .button span {
	background: #C4E538;
	transition: 0.5s;
}
.cor-2, .cor-2-botao > .button span {
	background: #12CBC4;
	transition: 0.5s;
}
.cor-3, .cor-3-botao > .button span {
	background: #FDA7DF;
	transition: 0.5s;
}
.cor-4, .cor-4-botao > .button span {
	background: #ED4C67;
	transition: 0.5s;
	color: white;
	fill: white;
}
.cor-5, .cor-5-botao > .button span {
	background: #6F1E51;
	transition: 0.5s;
	color: white;
	fill: white;
}
.cor-6, .cor-6-botao > .button span {
	background: #A3CB38;
	transition: 0.5s;
}
.cor-7, .cor-7-botao > .button span {
	background: #1289A7;
	transition: 0.5s;
	color: white;
	fill: white;
}
.cor-8, .cor-8-botao > .button span {
	background: #D980FA;
	transition: 0.5s;
}
.cor-9, .cor-9-botao > .button span {
	background: #B53471;
	transition: 0.5s;
	color: white;
	fill: white;
}
.cor-10, .cor-10-botao > .button span {
	background: #009432;
	transition: 0.5s;
	color: white;
	fill: white;
}
.cor-11, .cor-11-botao > .button span {
	background: #0652DD;
	transition: 0.5s;
	color: white;
	fill: white;
}
.cor-12, .cor-12-botao > .button span {
	background: #9980FA;
	transition: 0.5s;
}
.cor-13, .cor-13-botao > .button span {
	background: #833471;
	transition: 0.5s;
	color: white;
	fill: white;
}
.cor-14, .cor-14-botao > .button span {
	background: #EA2027;
	transition: 0.5s;
	color: white;
	fill: white;
}
.cor-15, .cor-15-botao > .button span {
	background: #006266;
	transition: 0.5s;
	color: white;
	fill: white;
}
.cor-16, .cor-16-botao > .button span {
	background: #1B1464;
	transition: 0.5s;
	color: white;
	fill: white;
}
.cor-17, .cor-17-botao > .button span {
	background: #5758BB;
	transition: 0.5s;
	color: white;
	fill: white;
}
