@media only screen and (min-width: 576px) {
	.mt-btn-form-2 {
		margin-top: 2em;
	}
}
@media only screen and (max-width: 576px) {
	.form-row {
		margin-bottom: 1em;
	}
}

.container {
	text-align: center;
	border-radius: 5px;
}

.hidden {
	display: none;
}
.button {
	display: inline-block;
	position: relative;
	width: 2em;
	height: 50px;
	margin: 10px;
	cursor: pointer;
}

.button span {
	display: block;
	position: absolute;
	width: 2em;
	height: 2em;
	padding: 0;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	border-radius: 100%;
	background: #eeeeee;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	transition: ease .15s;
}

.button.ativo span{
	width: 3em;
	height: 3em;
	box-shadow: 0px 3px 8px 0 rgba(0, 0, 0, 0.36);
}

/*
"#", "#", "#", "#",
"#", "#", "#", "#",
"#", "#", "#", "#",
"#", "#", "#", "#",
"#", "#", "#"
*/
