.mt-btn-form-2{
	margin-top: 0.5em;
	margin-bottom: 1.5em;
}
.container {
	text-align: center;
	border-radius: 5px;
}

.hidden {
	display: none;
}
.button {
	display: inline-block;
	position: relative;
	width: 2em;
	height: 50px;
	margin: 10px;
	cursor: pointer;
}

.button span {
	display: block;
	position: absolute;
	width: 2em;
	height: 2em;
	padding: 0;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	border-radius: 100%;
	background: #eeeeee;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	transition: ease .15s;
}

.button.ativo span{
	width: 3em;
	height: 3em;
	box-shadow: 0px 3px 8px 0 rgba(0, 0, 0, 0.36);
}

/*
"#", "#", "#", "#",
"#", "#", "#", "#",
"#", "#", "#", "#",
"#", "#", "#", "#",
"#", "#", "#"
*/

.cor-0, .cor-0-botao > .button span {
	background: #FFC312;
	transition: 0.5s;
}
.cor-1, .cor-1-botao > .button span {
	background: #C4E538;
	transition: 0.5s;
}
.cor-2, .cor-2-botao > .button span {
	background: #12CBC4;
	transition: 0.5s;
}
.cor-3, .cor-3-botao > .button span {
	background: #FDA7DF;
	transition: 0.5s;
}
.cor-4, .cor-4-botao > .button span {
	background: #ED4C67;
	transition: 0.5s;
}
.cor-5, .cor-5-botao > .button span {
	background: #6F1E51;
	transition: 0.5s;
}
.cor-6, .cor-6-botao > .button span {
	background: #A3CB38;
	transition: 0.5s;
}
.cor-7, .cor-7-botao > .button span {
	background: #1289A7;
	transition: 0.5s;
}
.cor-8, .cor-8-botao > .button span {
	background: #D980FA;
	transition: 0.5s;
}
.cor-9, .cor-9-botao > .button span {
	background: #B53471;
	transition: 0.5s;
}
.cor-10, .cor-10-botao > .button span {
	background: #009432;
	transition: 0.5s;
}
.cor-11, .cor-11-botao > .button span {
	background: #0652DD;
	transition: 0.5s;
}
.cor-12, .cor-12-botao > .button span {
	background: #9980FA;
	transition: 0.5s;
}
.cor-13, .cor-13-botao > .button span {
	background: #833471;
	transition: 0.5s;
}
.cor-14, .cor-14-botao > .button span {
	background: #EA2027;
	transition: 0.5s;
}
.cor-15, .cor-15-botao > .button span {
	background: #006266;
	transition: 0.5s;
}
.cor-16, .cor-16-botao > .button span {
	background: #1B1464;
	transition: 0.5s;
}
.cor-17, .cor-17-botao > .button span {
	background: #5758BB;
	transition: 0.5s;
}

@media only screen and (min-width: 755px) {
	.mt-btn-form-2 {
		margin-top: 2em;
	}
}
@media only screen and (max-width: 576px) {
	.form-row {
		margin-bottom: 1em;
	}
}
